<!-- Quinta Tarjeta / Logros -->
<div class="container">
  <div class="card d-flex bg-secondary" style="padding: 20px">
    <div class="row">
      <div class="col-5">
        <h2 class="bco">Logros</h2>
      </div>
      <div class="col"></div>
      <div class="col-1 align-self-center">
        <div class="btn-plus"><a href="#" class="btn-right"><i class="far fa-plus fa-lg"></i></a></div>
      </div>
    </div>
    <ul id="logros">
      <li id="logro1" class="bco">Logro 1</li>
      <li id="logro2" class="bco">Logro 2</li>
    </ul>
  </div>
</div>
