
.container {
  border-radius: 5px;
}

.card {
  margin: 10px;
  /* border-radius: 10px; */
}

.profile_img {
  width: 150px;
  height: 150px;
  margin-top: -90px;
  margin-left: 10px;
}

.profile-edit {
  color: white;
  margin-top: 35px;
}

.flex2 { 
  display: flex; 
  justify-content: space-around; 
} 

<hr> {
  color: white;
}

.fa-edit, .fa-plus {
  color: white;
}

.card_title {
  font-size: 20px;
}

.form {
  font-size: 12px;
}

.bco {
  color: white;
}

li {
  list-style-type: none;
}

.data-container {
  display: flex;
}

.info_contacto {
  margin-left: 20px;
  color: aqua;
}

/* .form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
} */