<!-- Cuarte Tarjeta / Aptitudes y validaciones -->
<div class="container">
  <div class="card d-flex bg-secondary" style="padding: 20px">
    <div class="row">
      <div class="col-5">
        <h2 class="bco">Aptitudes y validaciones</h2>
      </div>
      <div class="col"></div>
      <div class="col-2 align-self-center" style="padding: 0">
        <button type="button" class="btn btn-sm btn-light">+ Añadir nueva aptitud</button>
      </div>
      <div class="col-2 align-self-center" style="padding: 0">
        <button type="button" class="btn btn-sm btn-light">Hacer test de aptitudes</button>
      </div>
      <div class="col-1 align-self-center">
        <div class="btn-edit"><a href="#" class="btn-right"><i class="far fa-edit fa-lg"></i></a></div>
      </div>
    </div>
    <ul id="aptitud">
      <li id="apt1" class="bco">Primera Aptitud</li>
      <li id="apt2" class="bco">Segunda Aptitud</li>
    </ul>
    <!-- <p class="bco">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vel illum, ullam sapiente culpa
      minus quas
      sit sunt asperiores, recusandae consequuntur quibusdam! Eveniet porro placeat sapiente pariatur, odit eaque
      inventore.</p> -->
  </div>
</div>
